<p>
     This recommendation engine uses a database of over 70 million names sourced from real people,
     of which these names are then condensed to generate a list of over 250,000 unique first names worldwide.
     The top 25,000 most popular names have been crunched to work out the most similar names using a complex ranking algorithm, based on the relationship between common family names, 
     resulting in a matrix of over 2.4 million combinations. Hopefully more combinations will be added, however this can add to the noise - quality over quantity!
</p>
<p>
     The results are, in my opinion, quite amazing, with clear associations between similar sounding names, regions, popularity, genders and religions.
     These results are not doctored or manipulated by hand in any way, as that would be an enormous task for such a large data set. 
     That said the data set does not contain information about gender, so please click the boy and girl buttons to help populate the information.
</p>
