<p>
     This recommendation engine uses a database of over 70 million names sourced from real people,
     of which these names are then condensed to generate a list of over 250,000 unique first names worldwide.
     The top 25,000 most popular names have been processed to work out the most similar names using a custom ranking algorithm, based on the relationship between common family names, 
     resulting in a matrix of over 2.4 million combinations.
</p>
<p>
     I (Vrad) think the results are quite interesting, with clear associations between similar sounding names, regions, popularity, genders and religions.
     These results are not doctored or manipulated by hand in any way, as that would be an enormous task for such a large data set. 
</p>
